// app global css in SCSS form

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.w-100p {
  width: 100%;
}

::-webkit-scrollbar-thumb {
  background: #4c1d95;
  border-radius: 100px;
}

::-webkit-scrollbar {
  width: 10px;
  background: #260e4b;
}

.text-primary-gradient {
  background: $primary-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(101.75deg, #4c1d95 4.25%, #881d95 96.95%);
}

.font-size-24 {
  font-size: 24px;
}

.bg-dark-purple {
  background: $bg-dark-purple !important;
  background-clip: padding-box !important;
}

.header {
  display: flex;
  align-items: center;
  min-height: 107px;

  &-main {
    min-height: 84px;
  }
}

.logo-header {
  height: 75px;
  width: 90px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.rounded-borders-10 {
  border-radius: 10px;
}

.rounded-borders-12 {
  border-radius: 12px;
}

.rounded-borders-15 {
  border-radius: 15px;
}

// Отступы

.section-margin {
  margin-top: 124px;
}

.page-background {
  background: $light-page !important;
}

.club-textarea-mh-150 {
  & div div {
    max-height: 125px;
    overflow-y: auto;
  }
}

.medium-avatar {
  width: 64px;
  height: 64px;
}

.large-avatar {
  width: 140px;
  height: 140px;
}

.primary-gradient {
  background: $primary-gradient;
}

.secondary-gradient {
  background: $secondary-gradient;
}

.text-violet-6 {
  color: #581c87;
}

.bg-violet-6 {
  background-color: #581c87;
}

.violet-active {
  color: $violet-active;
}

.border-section-bottom {
  border-bottom: 1px solid #dcdcdc;
}
