.text-liner-button {
  background-image: $primary-gradient !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.bg-gray1 {
  background-color: $gray-1;
}
.bg-gray2 {
  background-color: $gray-2;
}
.bg-gray3 {
  background-color: $gray-3;
}
.bg-gray4 {
  background-color: $gray-4;
}
.bg-gray5 {
  background-color: $gray-5;
}
.bg-gray6 {
  background-color: $gray-6;
}
.bg-gray7 {
  background-color: $gray-7;
}
.bg-gray8 {
  background-color: $gray-8;
}
.bg-gray9 {
  background-color: $gray-9;
}
.bg-gray10 {
  background-color: $gray-10;
}

.bg-violet1 {
  background-color: $violet-1;
}
.bg-violet2 {
  background-color: $violet-2;
}
.bg-violet3 {
  background-color: $violet-3;
}
.bg-violet4 {
  background-color: $violet-4;
}
.bg-violet5 {
  background-color: $violet-5;
}
.bg-violet6 {
  background-color: $violet-6;
}
.bg-violet7 {
  background-color: $violet-7;
}
.bg-violet8 {
  background-color: $violet-8;
}
.bg-violet9 {
  background-color: $violet-9;
}
.bg-violet10 {
  background-color: $violet-10;
}
