.text-liner-button {
  background-image: $primary-gradient !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.text-violet1 {
  color: $violet-1;
}
.text-violet2 {
  color: $violet-2;
}
.text-violet3 {
  color: $violet-3;
}
.text-violet4 {
  color: $violet-4;
}
.text-violet5 {
  color: $violet-5;
}
.text-violet6 {
  color: $violet-6;
}
.text-violet7 {
  color: $violet-7;
}
.text-violet8 {
  color: $violet-8;
}
.text-violet9 {
  color: $violet-9;
}
.text-violet10 {
  color: $violet-10;
}

.text-gray1 {
  color: $gray-1;
}
.text-gray2 {
  color: $gray-2;
}
.text-gray3 {
  color: $gray-3;
}
.text-gray4 {
  color: $gray-4;
}
.text-gray5 {
  color: $gray-5;
}
.text-gray6 {
  color: $gray-6;
}
.text-gray7 {
  color: $gray-7;
}
.text-gray8 {
  color: $gray-8;
}
.text-gray9 {
  color: $gray-9;
}
.text-gray10 {
  color: $gray-10;
}

.bg-gray1 {
  background-color: $gray-1;
}
.bg-gray2 {
  background-color: $gray-2;
}
.bg-gray3 {
  background-color: $gray-3;
}
.bg-gray4 {
  background-color: $gray-4;
}
.bg-gray5 {
  background-color: $gray-5;
}
.bg-gray6 {
  background-color: $gray-6;
}
.bg-gray7 {
  background-color: $gray-7;
}
.bg-gray8 {
  background-color: $gray-8;
}
.bg-gray9 {
  background-color: $gray-9;
}
.bg-gray10 {
  background-color: $gray-10;
}

.bg-violet1 {
  background-color: $violet-1;
}
.bg-violet2 {
  background-color: $violet-2;
}
.bg-violet3 {
  background-color: $violet-3;
}
.bg-violet4 {
  background-color: $violet-4;
}
.bg-violet5 {
  background-color: $violet-5;
}
.bg-violet6 {
  background-color: $violet-6;
}
.bg-violet7 {
  background-color: $violet-7;
}
.bg-violet8 {
  background-color: $violet-8;
}
.bg-violet9 {
  background-color: $violet-9;
}
.bg-violet10 {
  background-color: $violet-10;
}

.bg-blue1 {
  background-color: $blue-1;
}
.bg-blue2 {
  background-color: $blue-2;
}
.bg-blue3 {
  background-color: $blue-3;
}
.bg-blue4 {
  background-color: $blue-4;
}
.bg-blue5 {
  background-color: $blue-5;
}
.bg-blue6 {
  background-color: $blue-6;
}
.bg-blue7 {
  background-color: $blue-7;
}
.bg-blue8 {
  background-color: $blue-8;
}
.bg-blue9 {
  background-color: $blue-9;
}
.bg-blue10 {
  background-color: $blue-10;
}
