@import "fonts.scss";

.c-input-outline {
  div {
    border-radius: 8px !important;

    & .q-field__control {
      outline: 1px solid #cacaca !important;
      padding: 0 24px !important;
      height: $input-height-md;

      div {
        height: $input-height-md;

        input {
          @extend .text-body2;

          &::placeholder {
            color: #6d6d6d;
          }
        }
      }
    }
  }
}

.c-input-price {
  div {
    border-radius: 8px !important;

    & .q-field__control {
      outline: 1px solid #cacaca !important;
      padding: 0 24px !important;
      height: 32px;

      div {
        height: 32px;

        input {
          @extend .text-body2;

          &::placeholder {
            color: #6d6d6d;
          }
        }
      }
    }
  }
}

.c-textarea-outline {
  div {
    border-radius: 8px !important;

    & .q-field__control {
      outline: 1px solid #cacaca !important;
      padding: 0 24px !important;
      height: $input-height-lg;

      div {
        height: $input-height-lg;

        textarea {
          @extend .text-body2;

          &::placeholder {
            color: #6d6d6d;
          }
        }
      }
    }
  }
}

.c-filepicker-outline {
  position: relative;
  div {
    border-radius: 8px !important;

    & .q-field__control {
      outline: 1px solid #cacaca !important;
      padding: 0 24px !important;
      height: $input-height-lg;

      div {
        .c-file-placeholder {
          @extend .text-body2;
          cursor: pointer;
          position: absolute;
          padding: 24px 18px !important;
          color: #6d6d6d;
          height: fit-content;
        }

        .c-file-button {
          position: absolute;
          bottom: 0;
        }
        .q-field__native {
          padding-left: 206px;
          margin-top: 96px;
        }
      }
      .q-chip {
        background: none !important;
      }
    }
  }
}

.c-input-number {
  div {
    border-radius: 8px !important;

    & .q-field__control {
      outline: 1px solid #581c87 !important;
      padding: 0 12px !important;
      height: $input-height-md;

      div {
        height: $input-height-md;

        input {
          @extend .text-body2;

          text-align: center;

          &::placeholder {
            color: #6d6d6d;
          }
        }
      }

      &:before {
        border: none !important;
      }
    }
  }
}

.c-checkbox-rounded {
  & .q-checkbox__label {
    color: #adadad;
  }

  div {
    border-radius: 5px;
  }
}

.c-checkbox-outlined {
  & .q-checkbox__label {
    @extend .text-caption1;
    margin-left: 4px;
  }

  & .q-checkbox__inner {
    color: $violet-6 !important;
    & .q-checkbox__bg {
      background: none;
    }
  }

  & .q-checkbox__svg {
    color: $violet-6 !important;
  }

  div {
    border-radius: 5px;
  }
}

.club-button-background {
  color: white;
  background: $primary-gradient;

  border-radius: 8px !important;

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background: $primary-gradient-disaled;
  }
}

.club-button-flat {
  background: inherit;

  border-radius: 8px !important;

  & span span,
  i {
    background-image: $primary-gradient !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.3);
  }
}

.club-button-outline {
  $border: 3px;

  border: $border solid transparent !important;
  border-radius: 8px !important;

  background: white;
  background-clip: padding-box !important;

  & .q-focus-helper {
    border-radius: 0 !important;
  }

  & span span,
  i {
    background-image: $primary-gradient !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

  &:before {
    margin: -$border !important;
    z-index: -1 !important;

    border: none !important;
    border-radius: inherit !important;
    background: $primary-gradient !important;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.3) !important;
  }
}

.club-button-outline-text-colored {
  $border: 3px;

  border: $border solid transparent !important;
  border-radius: 8px !important;

  background: white;
  background-clip: padding-box !important;

  & .q-focus-helper {
    border-radius: 0 !important;
  }

  &:before {
    margin: -$border !important;
    z-index: -1 !important;

    border: none !important;
    border-radius: inherit !important;
    background: $primary-gradient !important;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.3) !important;
  }
}

.q-editor__toolbar {
  & .q-icon {
    font-size: 20px;
  }
  & .q-editor__toolbar-group {
    padding-top: 20px;
  }
  & .q-editor__toolbar-group::before {
    margin-bottom: 22px;
    margin-top: 22px;
  }
  border-top: 1px solid black !important;
  border-radius: 0px;
  height: 80px;
}
