@import "fonts.scss";

.c-input-outline {
  padding-bottom: 0 !important;
  div {
    border-radius: 8px !important;

    & .q-field__bottom {
      min-height: 0;
      padding: 0;
    }

    & .q-field__bottom--animated {
      transform: none;
      position: relative;

      div div {
        @extend .text-caption2;

        margin-top: 16px;
      }
    }

    & .q-field__control {
      padding: 0 24px !important;
      height: $input-height-md;

      div {
        height: $input-height-md;

        input,
        textarea {
          @extend .text-body2;

          color: #6d6d6d;

          &::placeholder {
            color: #6d6d6d4d;
          }
        }
      }

      &:before {
        border-style: solid !important;
      }
    }
  }
}

.c-input-number {
  div {
    border-radius: 8px !important;

    & .q-field__control {
      outline: 1px solid #581c87 !important;
      padding: 0 12px !important;
      height: $input-height-md;

      div {
        height: $input-height-md;

        input {
          @extend .text-body2;

          color: #6d6d6d;
          text-align: center;

          &::placeholder {
            color: #6d6d6d4d;
          }
        }
      }

      &:before {
        border: none !important;
      }
    }
  }
}

.c-input-area-mh {
  min-height: 100%;

  div {
    .q-field__control {
      min-height: 100%;

      &::after {
        min-height: 100%;
      }

      div {
        min-height: 100%;

        textarea {
          min-height: 100%;
        }
      }
    }
  }
}

.c-checkbox-rounded {
  & .q-checkbox__label {
    color: #adadad;
  }

  div {
    border-radius: 5px;
  }
}

.c-checkbox-label-pr-md {
  .q-checkbox__label {
    padding-right: 16px !important;
  }
}

.c-checkbox-violet-6 {
  .q-checkbox__label {
    color: $violet-6;
  }

  div {
    color: $violet-6;
  }
}

.club-button-background {
  color: white;
  background: $primary-gradient;

  border-radius: 8px !important;

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background: $primary-gradient-disaled;
  }
}

.club-button-flat {
  background: inherit;

  border-radius: 8px !important;

  & span span,
  i {
    background-image: $primary-gradient !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.3);
  }
}

.club-button-outline {
  $border: 3px;

  border: $border solid transparent !important;
  border-radius: 8px !important;

  background: white;
  background-clip: padding-box !important;

  & .q-focus-helper {
    border-radius: 0 !important;
  }

  & span span,
  i {
    background-image: $primary-gradient !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

  &:before {
    margin: -$border !important;
    z-index: -1 !important;

    border: none !important;
    border-radius: inherit !important;
    background: $primary-gradient !important;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.3) !important;
  }
}

.club-button-outline-text-colored {
  $border: 3px;

  border: $border solid transparent !important;
  border-radius: 8px !important;

  background: white;
  background-clip: padding-box !important;

  & .q-focus-helper {
    border-radius: 0 !important;
  }

  &:before {
    margin: -$border !important;
    z-index: -1 !important;

    border: none !important;
    border-radius: inherit !important;
    background: $primary-gradient !important;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.3) !important;
  }
}

.club-dropdown {
  min-height: $input-height-md;
  border: 1px solid #cacaca;
  border-radius: 8px;

  div {
    min-height: $input-height-md !important;
    color: #6d6d6d;

    .q-field__control {
      @extend .text-body2;

      padding: 0 24px;

      &:before {
        border-bottom: none !important;
      }
    }
  }
}

.club-date {
  position: absolute;
  div div {
    // height: 100% !important;
    .q-date__view {
      height: 100% !important;
    }
  }
}

.c-dropdown-button {
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.c-dropdown-content {
  border-radius: 5px;
  background: transparent !important;
  // box-shadow: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.c-tabs {
  & .q-tab__label {
    @extend .text-body1;
  }
}
.q-editor__toolbar {
  & .q-icon {
    font-size: 18px;
  }
  & .q-btn-dropdown__arrow {
    font-size: 25px;
  }
  & .q-editor__toolbar-group {
    padding-top: 20px;
  }
  & .q-editor__toolbar-group::before {
    margin-bottom: 22px;
    margin-top: 22px;
  }
  & .block {
    font-size: 16px;
  }
  &.btn__content:active {
    background-color: red;
  }
  & img {
    margin-top: 6px;
  }
  border-top: 1px solid black !important;
  border-radius: 0px;
  height: 80px;
  color: #545454;
}


