@import "fonts.scss";

.c-input-outline {
  div {
    border-radius: 8px !important;

    & .q-field__control {
      outline: 1px solid #cacaca !important;
      padding: 0 24px !important;
      height: $input-height-md;

      div {
        height: $input-height-md;

        input {
          @extend .text-body2;

          &::placeholder {
            color: #6d6d6d;
          }
        }
      }
    }
  }
}

.c-input-number {
  div {
    border-radius: 8px !important;

    & .q-field__control {
      outline: 1px solid #581c87 !important;
      padding: 0 12px !important;
      height: $input-height-md;

      div {
        height: $input-height-md;

        input {
          @extend .text-body2;

          text-align: center;

          &::placeholder {
            color: #6d6d6d;
          }
        }
      }

      &:before {
        border: none !important;
      }
    }
  }
}

.c-checkbox-rounded {
  & .q-checkbox__label {
    color: #adadad;
  }

  div {
    border-radius: 5px;
  }
}

.club-button-background {
  color: white;
  background: $primary-gradient;

  border-radius: 8px !important;

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background: $primary-gradient-disaled;
  }
}

.club-button-flat {
  background: inherit;

  border-radius: 8px !important;

  & span span,
  i {
    background-image: $primary-gradient !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.3);
  }
}

.club-button-outline {
  $border: 3px;

  border: $border solid transparent !important;
  border-radius: 8px !important;

  background: white;
  background-clip: padding-box !important;

  & .q-focus-helper {
    border-radius: 0 !important;
  }

  & span span,
  i {
    background-image: $primary-gradient !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

  &:before {
    margin: -$border !important;
    z-index: -1 !important;

    border: none !important;
    border-radius: inherit !important;
    background: $primary-gradient !important;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.3) !important;
  }
}

.club-button-outline-text-colored {
  $border: 3px;

  border: $border solid transparent !important;
  border-radius: 8px !important;

  background: white;
  background-clip: padding-box !important;

  & .q-focus-helper {
    border-radius: 0 !important;
  }

  &:before {
    margin: -$border !important;
    z-index: -1 !important;

    border: none !important;
    border-radius: inherit !important;
    background: $primary-gradient !important;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.3) !important;
  }
}
