// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #eee8f3;
$secondary: #26a69a;
$accent: #9c27b0;

$violet-active: #9465b9;

$red-active: rgb(145, 99, 99);

$dark: #1d1d1d;
$dark-page: #121212;
$light-page: #faf9ff;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$primary-gradient: linear-gradient(101.75deg, #4c1d95 4.25%, #881d95 96.95%);
$primary-gradient-disaled: linear-gradient(99.53deg, #351d59 0%, #531d59 100%);
$secondary-gradient: linear-gradient(
  135deg,
  #c800c8 0%,
  #9600ff 100%,
  #9600ff 100%
);
$bg-dark-purple: #0f0421;

$input-height-md: 60px;

$liner-button: linear-gradient(101.75deg, #4c1d95 4.25%, #881d95 96.95%);
$liner-button-disable: linear-gradient(99.53deg, #351d59 0%, #531d59 100%);

$main-background: #0f0421;

$violet-10: #280d3d;
$violet-9: #32104d;
$violet-8: #3e1460;
$violet-7: #4b1873;
$violet-6: #581c87;
$violet-5: #76459d;
$violet-4: #9670b3;
$violet-3: #b79dcb;
$violet-2: #d7c9e2;
$violet-1: #eee8f3;

$yellow-10: #713f12;
$yellow-9: #854d0e;
$yellow-8: #a16207;
$yellow-7: #ca8a04;
$yellow-6: #eab308;
$yellow-5: #facc15;
$yellow-4: #fde047;
$yellow-3: #fef08a;
$yellow-2: #fef9c3;
$yellow-1: #fefce8;

$blue-10: #1e3a8a;
$blue-9: #1e40af;
$blue-8: #1d4ed8;
$blue-7: #2563eb;
$blue-6: #3b82f6;
$blue-5: #60a5fa;
$blue-4: #93c5fd;
$blue-3: #bfdbfe;
$blue-2: #dbeafe;
$blue-1: #eff6ff;

$green-10: #14532d;
$green-9: #166534;
$green-8: #15803d;
$green-7: #16a34a;
$green-6: #22c55e;
$green-5: #4ade80;
$green-4: #86efac;
$green-3: #bbf7d0;
$green-2: #dcfce7;
$green-1: #f0fdf4;

$red-10: #7f1d1d;
$red-9: #991b1b;
$red-8: #b91c1c;
$red-7: #dc2626;
$red-6: #ef4444;
$red-5: #f87171;
$red-4: #fca5a5;
$red-3: #fecaca;
$red-2: #fee2e2;
$red-1: #fef2f2;

$orange-10: #7c2d12;
$orange-9: #9a3412;
$orange-8: #c2410c;
$orange-7: #ea580c;
$orange-6: #f97316;
$orange-5: #fb923c;
$orange-4: #fdba74;
$orange-3: #fed7aa;
$orange-2: #ffedd5;
$orange-1: #fff7ed;

$gray-10: #18181b;
$gray-9: #27272a;
$gray-8: #3f3f46;
$gray-7: #52525b;
$gray-6: #71717a;
$gray-5: #a1a1aa;
$gray-4: #d4d4d8;
$gray-3: #e4e4e7;
$gray-2: #f4f4f5;
$gray-1: #fafafa;
