.c-gutter- {
  &x-32 {
    margin-left: -32px;

    & > * {
      margin-left: 32px;
    }
  }

  &y-32 {
    margin-top: -32px;

    * {
      margin-top: 32px;
    }
  }

  &-32 {
    margin-top: -32px;
    margin-left: -32px;

    * {
      margin-top: 32px;
      margin-left: 32px;
    }
  }
}

.c-gutter- {
  &x-64 {
    margin-left: -64px;

    & > * {
      margin-left: 64px;
    }
  }

  &y-64 {
    margin-top: -64px;

    & > * {
      margin-top: 64px;
    }
  }

  &-64 {
    margin-top: -64px;
    margin-left: -64px;

    & > * {
      margin-top: 64px;
      margin-left: 64px;
    }
  }
}

.c-ma-16 {
  margin: 16px;
}

.c-mt-16 {
  margin-top: 16px;
}

.c-mb-16 {
  margin-bottom: 16px;
}

.c-ml-16 {
  margin-left: 16px;
}

.c-mr-16 {
  margin-right: 16px;
}

.c-ma-12 {
  margin: 12px;
}

.c-mt-12 {
  margin-top: 12px;
}

.c-mb-12 {
  margin-bottom: 12px;
}

.c-ml-12 {
  margin-left: 12px;
}

.c-mr-12 {
  margin-right: 12px;
}

.c-mt-20 {
  margin-top: 20px;
}

.c-mb-20 {
  margin-bottom: 20px;
}

.c-ml-20 {
  margin-left: 20px;
}

.c-mr-20 {
  margin-right: 20px;
}

.c-mt-24 {
  margin-top: 24px;
}

.c-ml-24 {
  margin-left: 24px;
}

.c-ml-72 {
  margin-left: 72px;
}

.c-mt-72 {
  margin-top: 72px;
}

.c-mt-80 {
  margin-top: 80px;
}

.c-mt-215 {
  margin-top: 215px;
}

.c-mb-10 {
  margin-bottom: 10px;
}

.c-pa-8 {
  padding: 8px;
}

.c-pt-8 {
  padding-top: 8px !important;
}

.c-pb-8 {
  padding-bottom: 8px !important;
}

.c-pl-8 {
  padding-left: 8px !important;
}

.c-pr-8 {
  padding-right: 8px !important;
}

.c-pa-12 {
  padding: 12px;
}

.c-pt-12 {
  padding-top: 12px !important;
}

.c-pb-12 {
  padding-bottom: 12px !important;
}

.c-pl-12 {
  padding-left: 12px !important;
}

.c-pr-12 {
  padding-right: 12px !important;
}

.c-pa-16 {
  padding: 16px;
}

.c-pt-16 {
  padding-top: 16px !important;
}

.c-pb-16 {
  padding-bottom: 16px !important;
}

.c-pl-16 {
  padding-left: 16px !important;
}

.c-pr-16 {
  padding-right: 16px !important;
}

.c-pa-24 {
  padding: 24px;
}

.c-pt-24 {
  padding-top: 24px !important;
}

.c-pb-24 {
  padding-bottom: 24px !important;
}

.c-pb-32 {
  padding-bottom: 32px !important;
}

.c-py-24 {
  padding: 24px 0 !important;
}

.c-pt-40 {
  padding-top: 40px;
}

.c-pb-40 {
  padding-bottom: 40px;
}

.c-pr-40 {
  padding-right: 40px;
}

.c-pl-40 {
  padding-left: 40px;
}

.c-px-40 {
  padding: 0 40px;
}

.c-py-40 {
  padding: 40px 0;
}

.c-pa-40 {
  padding: 40px;
}

.c-px-64 {
  padding: 0 4rem;
}

.c-pb-64 {
  padding-bottom: 64px;
}

.c-pt-96 {
  padding-top: 96px;
}

.c-pb-96 {
  padding-bottom: 96px;
}

.c-pr-96 {
  padding-right: 96px;
}

.c-pl-96 {
  padding-left: 96px;
}

.c-px-96 {
  padding: 0 96px;
}

.c-py-96 {
  padding: 96px 0;
}

.c-pa-96 {
  padding: 96px;
}

.px-160 {
  padding: 0 10rem;
}

.c-m {
  &t- {
    &32 {
      margin-top: 32px;
    }
  }

  &b- {
    &24 {
      margin-bottom: 24px;
    }

    &32 {
      margin-bottom: 32px;
    }
  }

  &l- {
    &32 {
      margin-left: 32px;
    }
  }

  &r- {
    &32 {
      margin-right: 32px;
    }
  }

  &x- {
    &32 {
      margin: 0 32px;
    }
  }

  &y- {
    &32 {
      margin: 32px 0;
    }

    &64 {
      margin: 64px 0;
    }
  }

  &a- {
    &32 {
      margin: 32px;
    }
  }
}

.c-m {
  &t- {
    &40 {
      margin-top: 40px !important;
    }
  }

  &b- {
    &40 {
      margin-bottom: 40px !important;
    }
  }

  &l- {
    &40 {
      margin-left: 40px !important;
    }
  }

  &r- {
    &40 {
      margin-right: 40px !important;
    }
  }

  &x- {
    &40 {
      margin: 0 40px;
    }
  }

  &y- {
    &40 {
      margin-top: 40px 0;
    }
  }

  &a- {
    &40 {
      margin: 40px;
    }
  }
}

.c-m {
  &t- {
    &64 {
      margin-top: 64px !important;
    }
  }

  &b- {
    &64 {
      margin-bottom: 64px !important;
    }
  }

  &l- {
    &64 {
      margin-left: 64px !important;
    }
  }

  &r- {
    &64 {
      margin-right: 64px !important;
    }
  }

  &x- {
    &64 {
      margin: 0 64px;
    }
  }

  &y- {
    &64 {
      margin-top: 64px 0;
    }
  }

  &a- {
    &64 {
      margin: 64px;
    }
  }
}

.c-m {
  &t- {
    &96 {
      margin-top: 96px !important;
    }
  }

  &b- {
    &96 {
      margin-bottom: 96px !important;
    }
  }

  &l- {
    &96 {
      margin-left: 96px !important;
    }
  }

  &r- {
    &96 {
      margin-right: 96px !important;
    }
  }

  &x- {
    &96 {
      margin-left: 96px;
      margin-right: 96px;
    }
  }

  &y- {
    &96 {
      margin-top: 96px;
      margin-bottom: 96px;
    }
  }

  &a- {
    &96 {
      margin: 96px;
    }
  }
}

.c-m {
  &t- {
    &124 {
      margin-top: 124px !important;
    }
  }

  &b- {
    &124 {
      margin-bottom: 124px !important;
    }
  }

  &l- {
    &124 {
      margin-left: 124px !important;
    }
  }

  &r- {
    &124 {
      margin-right: 124px !important;
    }
  }

  &x- {
    &124 {
      margin-left: 124px;
      margin-right: 124px;
    }
  }

  &y- {
    &124 {
      margin-top: 124px;
      margin-bottom: 124px;
    }
  }

  &a- {
    &124 {
      margin: 124px;
    }
  }
}

.c-p {
  &t- {
    &32 {
      padding-top: 32px;
    }
  }

  &b- {
    &32 {
      padding-bottom: 32px;
    }
  }

  &l- {
    &32 {
      padding-left: 32px;
    }
  }

  &r- {
    &32 {
      padding-right: 32px;
    }
  }

  &x- {
    &32 {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &y- {
    &32 {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &a- {
    &32 {
      padding: 32px;
    }
  }
}

.c-p {
  &t- {
    &10 {
      padding-top: 10px;
    }
  }

  &b- {
    &10 {
      padding-bottom: 10px;
    }
  }

  &l- {
    &10 {
      padding-left: 10px;
    }
  }

  &r- {
    &10 {
      padding-right: 10px;
    }
  }

  &x- {
    &10 {
      padding: 0 10px;
    }
  }

  &y- {
    &10 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &a- {
    &10 {
      padding: 10px;
    }
  }
}

.c-p {
  &t- {
    &64 {
      padding-top: 64px;
    }
  }

  &b- {
    &64 {
      padding-bottom: 64px;
    }
  }

  &l- {
    &64 {
      padding-left: 64px;
    }
  }

  &r- {
    &64 {
      padding-right: 64px;
    }
  }

  &x- {
    &64 {
      padding-left: 64px;
      padding-right: 64px;
    }
  }

  &y- {
    &64 {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }

  &a- {
    &64 {
      padding: 64px;
    }
  }
}

.c-p {
  &t- {
    &72 {
      padding-top: 72px;
    }
  }

  &b- {
    &72 {
      padding-bottom: 72px;
    }
  }

  &l- {
    &72 {
      padding-left: 72px;
    }
  }

  &r- {
    &72 {
      padding-right: 72px;
    }
  }

  &x- {
    &72 {
      padding-left: 72px;
      padding-right: 72px;
    }
  }

  &y- {
    &72 {
      padding-top: 72px;
      padding-bottom: 72px;
    }
  }

  &a- {
    &72 {
      padding: 72px;
    }
  }
}

.c-p {
  &t- {
    &96 {
      padding-top: 96px;
    }
  }

  &b- {
    &96 {
      padding-bottom: 96px;
    }
  }

  &l- {
    &96 {
      padding-left: 96px;
    }
  }

  &r- {
    &96 {
      padding-right: 96px;
    }
  }

  &x- {
    &96 {
      padding-left: 96px;
      padding-right: 96px;
    }
  }

  &y- {
    &96 {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

  &a- {
    &96 {
      padding: 96px;
    }
  }
}

.c-p {
  &t- {
    &124 {
      margin-top: 124px !important;
    }
  }

  &b- {
    &124 {
      margin-bottom: 124px !important;
    }
  }

  &l- {
    &124 {
      margin-left: 124px !important;
    }
  }

  &r- {
    &124 {
      margin-right: 124px !important;
    }
  }

  &x- {
    &124 {
      margin-left: 124px;
      margin-right: 124px;
    }
  }

  &y- {
    &124 {
      margin-top: 124px;
      margin-bottom: 124px;
    }
  }

  &a- {
    &124 {
      margin: 124px;
    }
  }
}
